*.pth filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
bbd7b466f6d58e646fdc2bd5fd67b2f5e93c0b687011bd4548c420f7bd46f0c5 filter=lfs diff=lfs merge=lfs -text
.fastembed_cache/** filter=lfs diff=lfs merge=lfs -text
bots/**/*.pth filter=lfs diff=lfs merge=lfs -text
bots/**/*.zip filter=lfs diff=lfs merge=lfs -text
